@font-face {
  font-family: 'SalmaPro';
  src: url('SalmaPro-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'SalmaProNarrow';
  src: url('SalmaPro-MediumNarrow.otf') format('opentype');
}
